.loginNew{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 30vh;
    top:40vh;

    input{
        padding: 1rem 1rem ;
        width: 30%;
        margin: 1rem;
    }

    .login-button{
        display: flex;
        justify-content: space-between;
        margin-top: 1rem;

        button{
            padding: 1rem 2rem;
            margin: 0rem 3rem;
        }

    }

}