.product-list {
    display: flex;
    justify-content: space-around;
    margin-top: 4rem;
    flex-wrap: wrap;
    .single-product-box {
        display: flex;
        flex-direction: column;
        width: 20%;
        justify-content: space-between;
        margin: 1rem;
        .product-img {
            height: 50vh;
            width: 100%;
            position: relative;
            background-color: #f8f9fa;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: 50%;
            box-shadow: 0 0.5rem 0.5rem #888888;
            margin-bottom: 2rem;
            // background-image: url(https://novine-react.envytheme.com/_next/static/images/1-6a494688ade5875c6bc3109e33af850d.jpg);
        }
        .product-content {
            display: flex;
            flex-direction: column;
            text-align: center;
            span,
            p,
            button {
                margin-bottom: 1rem;
                color: #222;
            }
            button {
                background-color: #fff;
                padding: 1rem;
                &:hover {
                    background-color: #222;
                    color: #fff;
                }
            }
        }
    }
}