.main-banner {
    height: 100vh;
    position: relative;
    z-index: 1;
    background-color: #f1f1f1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    background-image: url(https://novine-react.envytheme.com/_next/static/media/main-banner1.ba2256865242c4e3512ada54c86803a0.jpg);
    .main-banner-content {
        position: absolute;
        top: 50%;
        left: 10%;
        max-width: 70rem;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        text-align: left;
        span,
        p,
        h1 {
            margin-bottom: 1.5rem;
            line-height: normal;
            color: #222;
            text-transform: uppercase;
        }
    }
}

@media screen and (max-width:768px) {
    .main-banner{
        background-image: none;
        height: 40vh;

        .main-banner-content {
            text-align: center;
            top:30%;
        }
    }
}