    .cart-area {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        margin: 5% 10%;
        color: #212529;
        .cart-table-list {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            width: 100%;
            overflow: auto;
            border: none;
            .cart-table-item {
                display: flex;
                justify-content: space-between;
                text-align: start;
                align-items: center;
                border-bottom: .08rem solid #eaedff;
                width: 100%;
                min-width: 700px;
                .cart-table-col {
                    display: flex;
                    margin: 1rem 0;
                    width: 100%;
                    .cart-table-col-img {
                        height: 20vh;
                        width: 50%;
                        background-size: contain;
                        background-position: 50%;
                        background-repeat: no-repeat;
                        background-color: #f1f1f1;
                        box-shadow: 0 0.05rem 0.05rem #888888;
                        &:hover {
                            transform: rotateY(180deg);
                        }
                    }
                    &.name {
                        display: flex;
                        flex-direction: column;
                        ul {
                            list-style: none;
                            text-decoration: none;
                            opacity: 0.8;
                            li {
                                margin-bottom: 1rem;
                            }
                            strong {
                                font-weight: 450;
                            }
                        }
                        a {
                            list-style: none;
                            text-decoration: none;
                            color: hsl(210, 11%, 15%, 0.6);
                            font-weight: 600;
                            margin-bottom: 1.5rem;
                            &:hover {
                                color: #212529;
                            }
                        }
                    }
                    .quantity {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        width: 50%;
                        align-items: center;
                        padding: 1rem;
                        button{
                            border-radius: 20%;
                            border: #888888 solid .1rem;
                            padding: .2rem;
                        }
                    }
                    .total {
                        display: flex;
                        justify-content: space-between;
                        width: 100%;
                        padding: 1rem;
                    }
                }
            }
        }

        .cart-table-item-bottom {
            width: 100%;
            display: flex;
            justify-content: space-between;
            padding: 2rem 0;
            align-items: center;
            a {
                list-style: none;
                text-decoration: none;
                color: #212529;
                border: 0.02rem solid #888888;
                padding: 0.8rem 2rem;
                &:hover {
                    background-color: #444;
                    color: #fff;
                }
            }
            span {
                margin-left: 0.5rem;
            }
        }

        .cart-total {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            text-align: left;
            align-items: flex-start;
            margin-top: 3rem;
            width: 50%;
            box-shadow: 0rem 0rem 0.5rem #888888;
            border-radius: 0.5rem;
            position: relative;
            left: 25%;
            padding: 2rem;
            h3,
            ul,
            a {
                margin: 1.5rem 0;
            }
            ul {
                list-style: none;
                text-decoration: none;
                width: 100%;
                li {
                    display: flex;
                    justify-content: space-between;
                    padding: 1.5rem;
                    border: .08rem solid #eaedff;
                }
            }
            a {
                list-style: none;
                text-decoration: none;
                color: #212529;
                border: 0.02rem solid #888888;
                padding: 0.8rem 2rem;
                &:hover {
                    background-color: #222;
                    color: #fff;
                }
            }

        }

        @media screen and (max-width:768px) {
            .cart-total{
                width: 80%;
                left: 10%;
            }

            .cart-table-item-bottom{
                flex-direction: column;
                justify-content: flex-end;
                align-items: flex-end;
                a{
                    width: 100%;
                    margin-bottom: 1rem;
                }
            }

        }

        @media screen and (max-width:375px) {
            .cart-total{
                width: 100%;
                left :0;
            }
        }
    
    }
    
    
    

